* {
	box-sizing: border-box;
	font-family: "CMU Serif";
}

body, html {
  background-color:#444;
  margin:0;
  min-width:100vw;
  min-height:100vh;

}

body {
	text-align:center;
}

#c {
	min-width:60%;
	display:inline-block;
	min-height:100vh;
  	background-color:#fff;
  	padding:1em;
	text-align:center;
}

#maths {
	min-height:30vh;
	display:inline-block;
	margin-top:50vh;
	transform: translateY(-50%);
	width:100%;
}

#q {
	width:100%;
	height:30%;
	min-height:5em;
	display:inline-block;
  	background-color:#fff;
  	border-radius:10px 10px 0 0;
  	padding-top:1em;
  	font-size:45px;
}
#a {
	width:100%;
	height:30%;
	display:block;
  	background-color:#eee;
  	border-radius:0 0 10px 10px;
  	resize:none;
  	border:0;
  	text-align:center;
  	font-size:45px;
  	padding-bottom:0em;
  	font-family:Helvetica;
}

#a:focus {
	outline:0;
}

.aChoice {
  	padding-top:1em;
  	padding-left:.5em;
  	padding-right:.5em;
	height:100%;
	min-height:5em;
	min-width:1em;
	display:inline-block;
	background-color:#bbb;
	border-radius:0 0 5px 5px;
	font-size:30px;
}

.aChoice:hover {
	background-color:#aaa;
}
.aChoice:active {
	background-color:#999;
}